/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

colgroup,
ocean {
    color: #03045E;
}

colgroup,
navy {
    color: #0077B6;
}

colgroup,
lightOcean {
    color: #00B4D8;
}

colgroup,
sky {
    color: #0096C7;
}

colgroup,
lightBlue {
    color: #90E0EF;
}

h1 {
    text-align: center;
    font-size: 350%;
    color: #03045E;
    margin-left: 1%;
    margin-bottom: 1%;
}

h2 {
    text-align: center;
    font-size: 200%;
    color: #03045E;
    margin-left: 1%;
}

h3 {
    text-align: center;
    font-size: 150%;
    color: #03045E;
    margin-left: 1%;
}

p {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

div {
    text-align: center;
}

ul {
    text-align: center;
}

hr {
    margin: 0%;
}

.settings-button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 35%;
    position: relative;
}

.img {
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 700px;
    height: 700px;
    margin: auto auto;
    font-family: sans-serif;
    background-color: #90e1ef42;
    border-radius: 5%;
    position: relative;
}

.button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.new-conversation-button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 5%;
    margin-bottom: 4%;
}

.new-conversation-button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.user-bubble {
    background-color: #0077B6;
}

.home-button {
    background-color: #03045E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #03045E;
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    width: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.centered-content {
    text-align: center;
}

.centered-content-Conversations {
    text-align: center;
    border: 1px solid;
}

.centered-content-Conversations:hover {
    text-align: center;
    background-color: #0095c755;
}

.centered-content img {
    display: inline-block;
    vertical-align: middle;

}

.centered-buttons .button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 2%;
    width: 260px;
    height: 70px;
}

.centered-buttons .button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.centered-content img,
.centered-content h3 {
    display: inline-block;
    vertical-align: middle;
}

.centered-content img,
.centered-content h1 {
    display: inline-block;
    vertical-align: middle;
}

.logoImage {
    width: 75px;
    height: 70px;
    border-radius: 100%;
}

.border {
    border-top: 5px solid #000000;
    border-radius: 5px;
    width: 600px;
    display: inline-block;
}

.border-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin-top: 7rem;
    margin-bottom: 1rem;
    height: 1rem;
    white-space: nowrap
}

.border-small:before,
.border-small:after {
    height: 0.125rem;
    width: 100%;
    flex-grow: 1;
    --tw-content: '';
    content: var(--tw-content);
    background-color: var(--fallback-bc, oklch(var(--bc)/0.1))
}

.input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 30px;
}

.input-chat {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 10px;
}

.profilepicture {
    width: 100px;
    height: 100px;
}

.loginfield {
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
    width: 8em;
}

.submit {
    width: 88%;
    border-radius: 12px;
}

.login-sign {
    width: 150px;
    height: 150px;
}

.signup-button {
    width: 88%;
    height: 40px;
    border-radius: 12px;
    font-size: large;

}

.signup-button:hover {
    opacity: 0.5;
}

.log-symbol {
    width: 50px;
    height: 50px;
}

.waving-hand {
    width: 50px;
    height: 50px;
}

.container1 {
    width: 50%;
    background-color: lightblue;
    align-self: center;
    display: block;
}