/* styles.css */
colgroup,
ocean {
    color: #03045E;
}

colgroup,
navy {
    color: #0077B6;
}

colgroup,
lightOcean {
    color: #00B4D8;
}

colgroup,
sky {
    color: #0096C7;
}

colgroup,
lightBlue {
    color: #90E0EF;
}

h1 {
    text-align: center;
    font-size: 350%;
    color: #03045E;
    margin-left: 1%;
    margin-bottom: 1%;
}

h2 {
    text-align: center;
    font-size: 200%;
    color: #03045E;
    margin-left: 1%;
}

h3 {
    text-align: center;
    font-size: 100%;
    color: #03045E;
    margin-left: 1%;
}

p {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

div {
    text-align: center;
}

ul {
    text-align: center;
}

hr {
    margin: 0%;
}

.settingsButton {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 35%;
}

.img {
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 700px;
    height: 700px;
    margin: auto auto;
    font-family: sans-serif;
    background-color: #90e1ef42;
}

.button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.newConversationButton {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 150%;
    margin: 10px;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 5%;
    margin-bottom: 4%;
}

.newConversationButton:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.user-bubble {
    background-color: #0077B6;
}

.home-button {
    background-color: #03045E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;

}

.centered-content {
    text-align: center;
}

.centered-content-Conversations {
    text-align: center;
    border: 1px solid;
}

.centered-content-Conversations:hover {
    text-align: center;
    background-color: #0095c755;
}

.centered-content img {
    display: inline-block;
    vertical-align: middle;

}

.centered-buttons .button {
    background-color: #00B4D8;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    display: inline-block;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
    margin-top: 2%;
    width: 260px;
    height: 70px;
}

.centered-buttons .button:hover {
    background-color: #0077B6;
    color: white;
    border-color: #0077B6;
    border-style: hidden;
}

.centered-content img,
.centered-content h3 {
    display: inline-block;
    vertical-align: middle;
}

.centered-content img,
.centered-content h1 {
    display: inline-block;
    vertical-align: middle;
}

.logoImage {
    width: 125px;
    height: 116px;
    border-radius: 100%;
}